.dl-horizontal dt {
    white-space: normal;
}

body {
    font-family: Calibri;
}

/*Styles for the search index page*/

.navbar-main {
    color: aqua;
}

.overlay {
    margin: 70px 30px 30px 30px;
    padding: 40px 40px 40px 40px;
}

.form_button {
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.form_input {
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding-top: 50px;
}

.sub-txt {
    width: 70% !important;
    border-radius: 5px;
}

.sub-btn {
    width: 150px;
    border-radius: 5px;
    background-color: dodgerblue;
}

.search_row {
    text-align: center !important;
}

/*Style for the Search Result page*/

.art-image {
    height: auto;
    max-width: 100%;
}

img {
    outline: none !important;
}

.hide-type {
    display: none;
}

.col-md-4 {
    padding: inherit;
}
